body {
  min-width: 360px;
}

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.mode-light-asset {
  display: block;
}

.mode-dark-asset {
  display: none;
}

p,
label,
button,
a,
input,
textarea {
  border: 0;
  outline: none !important;
  text-decoration: none !important;
  background: transparent;
  margin: 0;
}

a:focus,
a:hover {
  color: inherit !important;
}

hr {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 1px;
  border: 0;
  background: rgba(165, 165, 165, 0.3);
}

.overflow-visible {
  overflow: visible;
}

.icon.edit {
  display: block;
  position: relative;
  width: 15px;
  height: 15px;
  position: relative;
}

.icon.edit::after {
  content: "";
  width: 5px;
  height: 10px;
  border: 2px solid #969696;
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
  border-radius: 1px 1px 0px 0px;
}

.icon.edit::before {
  content: "";
  position: absolute;
  bottom: 0.5px;
  left: 1px;
  width: 5px;
  height: 5px;
  border: 3px solid transparent;
  border-bottom: 0;
  border-top: 4px solid #969696;
  transform: rotate(45deg) translate(-6%, 6%);
}

.icon.plus {
  position: relative;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fff;
  display: block;
}

.icon.plus::before,
.icon.plus::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 8px;
  height: 1.5px;
  transform: translate(-50%, -50%);
  background: #fff;
}

.icon.plus:not(.minus)::before {
  width: 1.5px;
  height: 8px;
}

.main-body {
  display: flex;
  flex-direction: row;
  max-height: 100vh;

  position: relative;
}

.main-body::before {
  content: "";
  width: 93%;
  height: 61%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(20px, 24%);
  background-image: url("../images/bg-light.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center right;
  opacity: 1;
  z-index: -3;
  box-shadow: 0 0 100px 50px white inset;
}

.main-body::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(
    91deg,
    rgba(255, 255, 255, 01) 40%,
    rgba(255, 255, 255, 0) 80%
  );
  backdrop-filter: blur(6px);
  z-index: -2;
  transition: all 0.4s;
}

.pink-blur-circle {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-20%, -20%);
  width: 575px;
  height: 575px;
  border-radius: 50%;
  background: linear-gradient(
    138deg,
    rgba(214, 200, 225, 0.8) 21.04%,
    rgba(255, 255, 255, 0.8) 59.3%
  );
  z-index: -1;
  opacity: 1;
}

.blue-blur-circle {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(40%, 40%);
  width: 923px;
  height: 923px;
  border-radius: 923px;
  background: linear-gradient(
    312deg,
    rgba(220, 237, 255, 0.7) 54.09%,
    rgba(255, 255, 255, 0.7) 78.95%
  );
  filter: blur(150px);
  z-index: -1;
  opacity: 1;
}

.sidebar {
  width: 344px;
  min-height: 100vh;
  transition: all 0.4s;
}

.sidebar .sidebar-content {
  height: 100%;
  transition: all 0.4s;
  max-width: 100%;
  overflow: hidden;
}

.sidebar .sidebar-content > div {
  width: 344px;
  border-right: 2px solid #a03291;
  padding-right: 18px;
  height: 100%;
}

.sidebar .sidebar-content > div > div:nth-of-type(1) {
  padding-left: 23px;

  padding-right: 5px;
}

.sidebar.close {
  width: 0;
  height: 100%;
}

.sidebar.close .sidebar-content {
}

.sidebar-toggler {
  cursor: pointer;
  position: absolute;
  top: 55px;
  right: 10px;
}

.sidebar.close .sidebar-toggler {
  right: -28px;
  top: 10px;
}

#sidebar-toggler-inp + .sidebar-toggler img {
  transform-origin: center;
  transition: transform 0.4s;
}

#sidebar-toggler-inp:checked + .sidebar-toggler img {
  transform: rotate(180deg);
}

.right-pane {
  min-height: 100vh;
}

.small-btn {
  width: 33px;
  height: 33px;
  border-radius: 11px;
  background: linear-gradient(179deg, #a03291 -44.05%, #ff7c66 99.56%);
}

.big-btn {
  border-radius: 23px;
  border: 0;
  min-height: 46px;
  width: 100%;
  position: relative;
  overflow: hidden;
  border: 2px solid #ff7c66;
  color: #ff7c66;
  /* cursor: not-allowed; */
}

.big-btn.active {
  color: #fff;
  border: 0;
  cursor: pointer;
}

.big-btn.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1000%;
  background: linear-gradient(271deg, #a03291 1.87%, #ff7c66 92.26%);
  z-index: 0;
  transition: transform 0.4s;
  transform-origin: center;
}

button.big-btn.active:hover::before {
  transform: translateY(-50%) rotate(180deg);
}

.big-btn p {
  padding: 10px 40px;
  position: relative;

  z-index: 1;
}

/* new chat button  */
.big-btn.new-chat-btn .icon.plus {
  border-color: #ff7c66;
}

.big-btn.new-chat-btn .icon::after,
.big-btn.new-chat-btn .icon::before {
  background: #ff7c66;
}

.big-btn.new-chat-btn.active .icon.plus {
  border-color: #fff;
}

.big-btn.new-chat-btn.active .icon::after,
.big-btn.new-chat-btn.active .icon::before {
  background: #fff;
}

.big-btn.new-chat-btn .icon.plus::not(.minus) {
  display: none;
}

.big-btn.new-chat-btn .icon.plus.minus {
  display: block;
}

.big-btn.new-chat-btn.active .icon.plus::not(.minus) {
  display: block;
}

.big-btn.new-chat-btn.active .icon.plus.minus {
  display: none;
}

/* send button in message  */
.big-btn.prompt-send-btn .icon {
  z-index: 0;
}

.big-btn.prompt-send-btn:not(.active) .icon {
  filter: invert(35%) sepia(75%) saturate(1548%) hue-rotate(320deg)
    brightness(101%) contrast(95%);
}

.border-btn {
  border-radius: 23px;
  border: 1px solid #ff7c66;
  min-height: 46px;
}

.big-btn .icon.plus {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
}

.text-32,
.text-20,
.text-16,
.text-14,
.text-15,
.text-13,
.text-12,
.text-11 {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.text-11 {
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.33px;
}

.text-12 {
  font-size: 12px;
  font-weight: 400;
}

.text-13 {
  font-size: 13px;
  font-weight: 500;
}

.text-14 {
  font-size: 14px;
}

.text-15 {
  font-size: 15px;
}

.text-16 {
  font-size: 16px;
  letter-spacing: 0.48px;
}

.text-20 {
  font-size: 20px;
}

.text-32 {
  font-size: 32px;
  font-weight: 700;
}

.text-blue {
  color: #033d58;
}

.text-black {
  color: #171717;
}

.text-white {
  color: #fff;
}

.text-grey {
  color: #969696;
}

.text-orange {
  color: #ff7c66;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.toggle {
  width: 38px;
  height: 21px;
  border-radius: 13px;
  border: 1px solid rgba(164, 164, 164, 0.2);
  background: rgba(248, 248, 248, 0.16);
  position: relative;
  cursor: pointer;
}

.toggle > div {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 19px;
  height: 19px;
  border-radius: 13px;
  background: #ff7c66;
  transition: transform 0.4s;
}

input.custom-toggle:checked + label > div {
  transform: translateX(-18px);
}

/* recent chats  */
.chats-list {
  padding-right: 5px;
  overflow: auto;
  padding-top: 10px;
  position: static !important;
  transform: none !important;
  float: none !important;
  border-radius: 0 !important;
  border: 0 !important;
  background-color: transparent !important;
  height: 100%;
}

.chats-list a {
  width: calc(100% - 20px);
  max-width: 190px;
}

.sidebar-chat-container {
  margin-bottom: 10px;
}

.sidebar-chat-container .chat-list-title {
  padding-left: 23px;
  height: 40px;
}

.chat-btn {
  padding-left: 23px;
  padding-right: 12px;
  transition: background-color 0.4s;
}

.chat-btn:hover,
.chat-btn.active {
  border-radius: 6px;
  background-color: rgba(204, 204, 204, 0.25);
}

.options-btn {
  position: relative;
}

.options-btn::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
  border: 2px solid #ff7c66;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.4s;
}

.nav-btn-submenu .list .options-btn::before {
  width: 25px;
  height: 25px;
}

.options-btn.hovered::before,
.options-btn:hover::before {
  opacity: 1;
}

.profile {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  overflow: hidden;
}

.profile > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

nav {
  height: 49px;
  border: 1px solid rgba(219, 228, 239, 0.8);
  background: linear-gradient(
    91deg,
    rgba(255, 255, 255, 0.5) 67.5%,
    rgba(218, 242, 252, 0.5) 118.1%
  );
  padding: 0 60px;
}

.nav-btn {
  padding: 1px 14px;
  cursor: pointer;
  position: relative;
  height: 47px;
  overflow: visible;
  transition: color 0.4s;
}

.nav-btns-inp + .nav-btn::before {
  content: "";
  width: 0;
  height: 3px;
  background: #ff7c66;
  position: absolute;
  bottom: -1px;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
  z-index: 11;
}

.nav-btn:hover::before,
.nav-btns-inp:checked + .nav-btn::before {
  opacity: 1 !important;
  width: 100% !important;
  transition: all 0.2s !important;
}

.nav-btns-inp:checked + .nav-btn span {
  color: #ff7c66;
}

.nav-btns-inp:checked + .nav-btn svg path {
  transition: all 0.2s;
}

.nav-btns-inp:checked + .nav-btn svg path {
  fill: #ff7c66;
}

.nav-btns-inp:checked + .nav-btn img {
  filter: invert(35%) sepia(75%) saturate(1548%) hue-rotate(320deg)
    brightness(101%) contrast(95%);
}

.nav-btn-submenu {
  width: 600px;
  right: 0;
  display: none;
  position: absolute;
  border: 1px solid #dbe4ef;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.7) 64.95%,
    rgba(223, 231, 240, 0.7) 98.41%
  );
  backdrop-filter: blur(6px);
  padding: 20px 15px 25px 15px;
  height: 100%;
  max-height: calc(100% - 100px);
  overflow: hidden;
  z-index: 5;
}

.nav-btn-submenu > div {
  height: 100%;
}

.nav-btn-submenu .list {
  max-height: calc(100% - 60px);
  overflow-y: auto;
  position: relative;
  display: block;
  padding-bottom: 0;
  padding-top: 5px;
  padding-right: 10px;
}

.nav-btn-submenu .list a {
  padding: 10px 15px;
  margin: 15px 0 !important;
}

.nav-btn-submenu .list a:hover {
  cursor: pointer;
  background-color: rgba(204, 204, 204, 0.25);
  border-radius: 6px;
}

.nav-btns-inp:checked + .nav-btn + .nav-btn-submenu {
  display: block;
}

.nav-btn-submenu .closee {
  cursor: pointer;
  padding: 10px 10px;
  width: fit-content;
  border-radius: 4px;
  margin: 0 7px 22px 7px;
  transition: background-color 0.4s;
}

.nav-btn-submenu .closee:hover {
  background-color: rgba(204, 204, 204, 0.25);
}

.options-btn::after {
  display: none;
}

.nav-btn-submenu .options-btn img {
  height: 12px;
}

.options-btn:hover img,
.options-btn[aria-expanded="true"] img {
  filter: invert(62%) sepia(75%) saturate(1548%) hue-rotate(320deg)
    brightness(101%) contrast(95%);
}

.options {
  width: 185px;
  height: 35px;
  border-radius: 6px;
  border: 1px solid rgba(219, 228, 239, 0.8);
  background: linear-gradient(
    93deg,
    rgba(255, 255, 255, 0.4) 73.04%,
    rgba(226, 226, 226, 0.4) 117.08%
  );
  backdrop-filter: blur(6px);
  position: absolute !important;
  right: 3px !important;
  left: auto !important;
  float: none !important;
  margin: 0;
  transform: translateY(-94%) !important;
  align-items: center;
  justify-content: center;
}

.options.show {
  display: flex !important;
}

.options > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.attributes-title {
  position: relative;
}

.attributes-title .options {
  transform: translate(108%, -60%) !important;
  right: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  opacity: 0;
  visibility: none;
}

.attributes-title:hover .options {
  visibility: visible;
  opacity: 1;
}

.attributes-title:hover + .options,
.options.active {
  opacity: 1;
}

.options button {
  display: flex;
  align-items: center;
  font-size: inherit;
  color: inherit;
  width: auto;
  max-width: none;
}

.message-box {
  padding: 0 49px;
}

.message-box > div {
  height: 60px;
  border-radius: 30px;
  border: 1px solid rgba(167, 175, 186, 0.8);

  background: linear-gradient(
    93deg,
    rgba(255, 255, 255, 0.5) 73.04%,
    rgba(218, 242, 252, 0.5) 117.08%
  );

  backdrop-filter: blur(6px);
  overflow: hidden;
}

.message-box button {
  width: 76px;
  height: 54px;
  border-radius: 30px;
  /* background: linear-gradient(271deg, #A03291 1.87%, #FF7C66 92.26%); */
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-box textarea {
  padding: 21px 24px;
  resize: none;
  padding-right: 35px;
}

.message-box .clear-prompt-btn {
  position: absolute;
  top: 50%;
  right: 90px;
  transform: translateY(-50%);
  width: auto;
  height: auto;
}

.message-box .clear-prompt-btn span {
  border-color: #ff7c66;
}

.message-box .clear-prompt-btn span::after,
.message-box .clear-prompt-btn span::before {
  background-color: #ff7c66;
}

.modal-open .modal {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.modal-open .modal::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  background: rgba(199, 199, 199, 0.7);
  backdrop-filter: blur(10px);
}

.modal-content {
  max-width: calc(100vw - 40px);
  width: 531px;
  min-height: 264px;
  border-radius: 16px;
  border: 1px solid #bbb;
  background: #fff;
}

.modal-body {
  padding: 10px 23px;
}

.modal-header {
  border-bottom: 1px solid #bbb;
  min-height: 63px;
  padding: 10px 23px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.modal-footer {
  border: 0;
}

.modal .message-box > div {
  border: 1px solid rgba(104, 104, 104, 0.25);
  background: #f6f6f6;
  height: 50px;
}

/* chat section  */
.chat-section {
  padding: 25px 60px 25px 40px;
  overflow: auto;
  height: calc(100vh - 280px);
  margin-right: 10px;
}

.chat-section.edit-sec-open {
  height: calc(100vh - 320px);
}

.chat-section.no-chat-title {
  height: calc(100vh - 180px);
}

.chat-title-section {
  padding: 20px 60px 20px 40px;
  border-bottom: 1px solid rgba(141, 142, 145, 0.2);
}

.chat {
  display: flex;
  flex-direction: row;
}

.chat-section .chat {
  margin-bottom: 30px;
}

.chat-section .chat:nth-last-of-type(1) {
  margin-bottom: 0;
}

.chat .icon {
  min-width: 34px;
  min-height: 34px;
  max-width: 34px;
  max-height: 34px;
  margin-right: 25px;
  border-radius: 50%;
  overflow: hidden;
}

.chat .icon img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.chat .text p {
  line-height: 2.5;
  margin-bottom: 0;
}

/* edit chat buttons  */
.edit-chat-sec {
}

.edit-chat-sec .dropdown-toggle::after {
  display: none;
}

.edit-chat-sec .dropdown-menu {
  position: static;
  position: static !important;
  transform: none !important;
}

.edit-chat-sec .dropdown-toggle[aria-expanded="true"] span::after {
  border-color: #ff7c66;
}

.edit-chat-sec .dropdown-toggle[aria-expanded="true"] span::before {
  border-top-color: #ff7c66;
}



/* select prompt from list  */
.select-prompt{
  display: flex;
  flex-direction: column;
}
.select-prompt button {
  border-radius: 34px;
  border: 1px solid rgba(219, 228, 239, 0.34);
  background: rgba(30, 31, 73, 0.3);
  backdrop-filter: blur(2px);
  color: #fff;
  margin-bottom: 14px;
  width: fit-content;
  min-height: 54px;
}
.select-prompt .big-btn.active{
  border: 1px solid transparent;
}
.select-prompt button p {
  line-height: 1.5 !important;
  padding: 10px 28px;
}
